import(nnet)
import(WGCNA)
import(GSA)
import(biomaRt)
import(seq2pathway.data)
importMethodsFrom(GenomicRanges, as.data.frame)
export(addDescription)
export(FisherTest_GO_BP_MF_CC)
export(FisherTest_MsigDB)
export(gene2pathway_test)
export(runseq2gene)
export(runseq2pathway)
